body {
    padding:0;
    margin:0;
    box-sizing:border-box;
    background-color:black;
    height:100vh;
    font-family:'lato', sans-serif;

}
.choices {
    display:flex;
    justify-content:center;
    flex-direction:column;
    align-items:center;
    padding:10px 20px;
    margin:300px;
    gap:20px;
    
}
.rock{
    width:400px;
    height:50px;
    font-size:2rem;
    border:2px solid white;
    border-radius:5px;
    box-shadow:0 0 10px white;
    align-items:center;
    cursor: pointer;
    padding:3px 20px;
}
.paper {
    width:400px;
    height:50px;
    font-size:2rem;
    border:2px solid white;
    border-radius:5px;
    box-shadow:0 0 10px white;
    cursor: pointer;
    padding:3px 13px;
}
.scissor {
    width:400px;
    height:50px;
    font-size:2rem;
    border:2px solid white;
    border-radius:5px;
    box-shadow:0 0 10px pink;
    cursor: pointer;
}
.result {
    display:flex;
    color:white;
    justify-content:center;
    align-items:center;
    width:370px;
    height:80px;
    font-size:2rem;
    border-radius:5px;
    border:2px white solid;
    text-align:center;
    padding:15px 10px;
    text-transform:uppercase;
}
.playerPoints, .computerPoints{
    display:flex;
    flex-direction:column;
    gap:30px;
    text-align:center;
    color:white;
    font-size:1.5rem;
    text-transform:uppercase;
    
}
.rock:hover {
   background-color:greenyellow;
   color:black;
   border:none;
   
}
.paper:hover {
    color:white;
    background-color:greenyellow;
}
img:hover {
    color:white;
    filter:contrast(50%);
}
.scissor:hover {
    background-color:greenyellow;
    color:black;
    border:none;
}
#resetBtn {
    width:100px;
    height:50px;
    font-size:1rem;
    border:none;
    border-radius:5px;
}
#resetBtn:hover {
    color:white;
    background-color:red;
}